.register-box-wrapper{
    margin: 0 auto;
    display: block;
    width: 350px;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    position: relative;
    padding: 14px 18px;
}
.wrapper{
    padding-top: 80px;
    margin-bottom: 50px;
}
.h1{
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px!important;
    font-family: "Hiragino Sans GB","Microsoft Yahei",Arial,sans-serif;
    padding-bottom: 4px;
    color: #111;
}
.logo{
 margin-bottom: 50px;
}
.logo-container{
 text-align: center;
}
.layui-footer{
    text-align: center;
}
.tips{
    margin-top: 8px;
    padding-left: 118px;
}
.icon{
    font-size: 15px; color: #FF0000;
}
.verifyCode{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}