.content-wrapper{
    margin-top: 100px;
    height: 500px;
}
.bottom-wrapper{
    height: 150px;
}
.layui-footer{
    text-align: center;
}
.sale-content{
    height: 500px;
    width: 1000px;
    margin: 0 auto;
}
.pic-info{
    width: 350px;
    height: 350px;
    float: left;
}
.title h1{
    font-family: "Verdana", "Microsoft Yahei", serif;
    color: #323232;
    font-size: 20px;
    
}
.description h2{
    font-size: 16px;
    line-height: 24px;
}
.author,.press,.publish-time{
    color: #646464;
    line-height: 24px;
}
.price{
    background-color: #ebebeb;
    padding: 0 0 0 10px;
    margin: 6px 0 0 350px;
    line-height: 28px;
    width: 630px;
    height: 70px;
}
.current{
    font-size: 26px;
    color: #e52222;
}
.former{
    line-height: 93px;
    text-decoration: line-through;
    color: #969696;
    float: left;
    height: 56px;
    overflow: hidden;
    padding: 3px 5px 0 0;
}
.discount{
    line-height: 93px;
    color: #e52222;

    float: left;
    height: 56px;
    overflow: hidden;
    padding: 3px 5px 0 0;
}
.price-label{
    color: #8f8f8f;
    font-weight: normal !important;
    font-size: 12px !important;
}
.price_d{
    float: left;
    height: 56px;
    overflow: hidden;
    padding: 3px 5px 0 0;
}
.former-price-label{
    float: left;
    height: 56px;
    overflow: hidden;
    padding: 3px 5px 0 0;
    line-height: 93px;
}
.clearfix:after,
.clearfix:before{content:" ";display:table;}
.clearfix:after{clear:both;}

/*购物车*/
.choose-btns {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 0 10px;
    height: 46px;
}
.choose-btns .choose-amount {
    width: 49px;
    height: 44px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    margin-right: 10px;
    float: left;
}
.choose-btns .choose-amount input {
    display: block;
    width: 31px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    top: 1px;
    left: 0;
    border: none;
    border: 0;
    text-align: center;
}
.choose-btns .choose-amount a.btn-reduce {
    bottom: -1px;
}
.choose-btns .choose-amount a.disabled {
    color: #ccc;
    cursor: not-allowed;
}
.choose-btns .choose-amount a {
    display: block;
    width: 15px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -1px;
    border: 1px solid #ccc;
}
.choose-btns .choose-amount a.btn-add {
    top: -1px;
}
.choose-btns .btn-lg {
    margin-right: 10px;
    float: left;
}
.btn-disable {
    border: 1px solid #ebebeb;
    color: #ccc;
    background-color: #f7f7f7;
    cursor: not-allowed;
}
.btn-lg {
    height: 46px;
    line-height: 46px;
    padding: 0 26px;
    font-size: 18px;
    font-family: "microsoft yahei";
}
.btn-special1, .btn-special2 {
    font-weight: 700;
}
.btn-primary, .btn-special1 {
    background-color: #df3033;
    color: #fff;
}
.btn-def, .btn-primary, .btn-special1, .btn-special2, .btn-special3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.btn-special1:hover{
    color: #fff;
}
/*顶部*/
#topWrap{
    height: 32px;
    border-bottom: 1px solid #EBE5E5;
    background: #f2f2f2;
    font-family: "宋体";
    line-height: 32px;
}
.top{
    width: 1210px;
    height: 32px;
    margin: 0 auto;
}
.top_left .sc{
    padding-left: 30px;
    display: inline-block;
    background: url(../../../img/book/detail/index_icons.png) no-repeat -782px 4px;
}
.top_left .adress{
    padding-left: 45px;
    display: inline-block;
    background: url(../../../img/book/detail/index_icons.png) no-repeat -768px -30px;
}
.top_right ul li{
    float: left;
    margin-right: 10px;
    color: #666;
    font-size:12px;
}
.top_right ul li.vip{
    padding-left: 32px;
    background: url(../../../img/book/detail/index_icons.png) no-repeat -775px -458px;
}
.top_right ul li.nomg{
    margin: 0;
}
/*顶部广告*/
#top_banner{
    width: 1210px;
    height:80px;
    position: relative;
    margin: 3px auto 0;
    background-color: #09F;
}
#top_banner .close{
    position: absolute;
    width: 14px;
    height: 14px;
    right: 5px;
    top:5px;
    cursor: pointer;
    background: url(../../../img/book/detail/index_icons.png) no-repeat 0 0;
}
/*头部*/
#header{
    width: 1210px;
    height: 140px;
    margin: 0 auto;
}
#header .logo{
    float: left;
    width: 160px;
    height: 107px;
    padding: 15px 0 0 42px;
    background-color:white;
}
.searchAndlist{
    float: left;
    width: 568px;
    height: 59px;
    padding-top: 40px;
    padding-left: 115px;
}
.search{
    width: 493px;
}
.search .txt{
    color:#ccc;
    width: 405px;
    height: 19px;
    line-height: 19px;
    padding: 5px 0;
    padding-left: 5px;
    border: 3px solid #4196F0;
    border-right: none;
    float: left;
}
.search .sub{
    width: 80px;
    height: 35px;
    float: left;
    cursor: pointer;
    background: url(../../../img/book/detail/index_icons.png) no-repeat 0 -29px;
}
.list li{
    float: left;
    font-family:"宋体";
    margin-right: 13px;
    padding-top: 10px;
    font-size:12px;
    color: #666;
}
.list li.first a:link,.list li.first a:visited{
    color: #3b9aeb;
}
.buy{
    float: left;
    padding-top: 40px;
    padding-left: 15px;
}
.buy li{
    position: relative;
    width: 125px;
    height: 31px;
    float: left;
    margin-right: 16px;
    border: 1px solid #E7E7E7;
    line-height: 31px;
    text-align: center;
    z-index: 1000000;
    background: #fff url(../../../img/book/detail/index_icons.png) no-repeat;
}
.buy li a{
    display: block;
    width:100%;
    height:100%;
}
.buy li.accounts{
    background-position: -769px -143px;
    position: relative;
}
.buy li.accounts a{
    background: url(../../../img/book/detail/index_icons.png) no-repeat -683px -228px;
    font-size: 12px;
    font-family: Arial, Verdana, "宋体", serif;
    color: #666;
    -webkit-text-size-adjust: none;
}
.buy li.accounts span{
    position: absolute;
    left: 16px;
    top:-20px;
    width: 26px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #0085F8;
    background: url(../../../img/book/detail/index_icons.png) no-repeat 0 -80px;
}

/*设置logo位置*/
#ourlogo {
    margin-top: 20px;
    position: relative;
    left: -20px;
}
